# JWT secret for authentication
JWT_SECRET=change-me-to-a-random-string

# Digital Ocean AI
DO_MODEL_ACCESS_KEY=
DO_LLM_MODEL_ID=openai-gpt-oss-20b

# Embedding model
HGF_EMBEDDING_MODEL_ID=nomic-ai/nomic-embed-text-v1
HF_TOKEN=
# Logging
LOG_LEVEL=INFO
APP_NAME=MedicaLLM

# Scopus API key
SCOPUS_API_KEY=
# Admin panel credentials
ADMIN_USERNAME=medicallm
ADMIN_PASSWORD=sezeristan000

# Cloud Database URL
DO_POSTGRES_URL=