# Environment files
.env
.env.*

# Python
__pycache__/

# Virtual environments
.venv/

# IDE
.vscode/

# Git
.git/
.gitignore

# Documentation
README.md
*.md

# Log files (generated at runtime)
log/
*.log

# temporary files
*.tmp
*.temp

drugbank.xml